<!DOCTYPE html>
<link href='http://fonts.googleapis.com/css?family=Kreon:300,400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/grids-min.css">
<link rel="stylesheet" type="text/css" href="css/events-style.css" />
<script type="text/javascript" src="ejs_production.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>

<head>
  <title>Celli: Events Page</title>
</head>
<body>
  <div class="section-header">
    <h1>UPCOMING EVENTS &amp PERFORMANCES</h1>
  </div>
  <hr>
  <% if (events.upcoming.length === 0) { %> 
    <p>There are no upcoming events.</p>
  <% } else { %>
    <% for(var i in events.upcoming) { var event = events.upcoming[i]; %>
      <div class="pure-g-r event-box">
        <div class="pure-u-1 event-photo" style="background-image: url(<%=event.cover.source%>);">
        </div>
        <div class="pure-u-1 event-info">
          <h2><%=event.location%> | <%=event.date%> | <%=event.time%></h2>
          <h1><a href="http://www.facebook.com/event.php?eid=<%=event.id%>"><%=event.name%></a></h1>
          <p><%=event.description%></p>
        </div>
      </div>
    <% } %>
  <% } %>
  <div class="section-header">
    <h1>PAST EVENTS &amp PERFORMANCES</h1>
  </div>
  <hr>
  <% for(var i in events.past) { var event = events.past[i]; %>
  <div class="pure-g-r event-box">
    <div class="pure-u-1 event-info">
      <h2> <%=event.location%> | <%=event.date%> | <%=event.time%></h2>
      <h1><a href="http://www.facebook.com/event.php?eid=<%=event.id%>"><%=event.name%></a></h1>
    </div>
  </div>
  <% } %>
</body>
