<link rel="stylesheet" type="text/css" href="css/events-style.css" />
<body>
  <div class="section-header">
    <h1>UPCOMING EVENTS &amp PERFORMANCES</h1>
  </div>
  <hr>
  <% if (events.upcoming.length === 0) { %> 
    <p>There are no upcoming events.</p>
  <% } else { %>
    <% for(var i in events.upcoming) { var event = events.upcoming[i]; %>
      <div class="pure-g-r event-box">
        <div class="pure-u-1 event-photo" style="background-image: url(<%=event.cover.source%>);">
        </div>
          <!-- <img class="event-photo" src='<%=event.cover.source%>'> -->
        <div class="pure-u-1 event-info">
          <h1><a href="http://www.facebook.com/event.php?eid=<%=event.id%>" target="_blank"><%=event.name%></a></h1>
          <h2><%=event.location%> | <%=event.date%> | <%=event.time%></h2>
        </div>
        <div class="pure-u-1 event-description">
          <p><%=event.description%></p>
          <p><a href="http://www.facebook.com/event.php?eid=<%=event.id%>" target="_blank">>> More Details</a></p>
        </div>
      </div>
    <% } %>
  <% } %>
  <div class="section-header">
    <h1>PAST EVENTS &amp PERFORMANCES</h1>
  </div>
  <hr>
  <% for(var i in events.past) { var event = events.past[i]; %>
  <div class="pure-g-r past-event-box" onclick="window.open('http://www.facebook.com/event.php?eid=<%=event.id%>','_blank');">
    <div class="pure-u-1-2 past-event-name">
      <h1><%=event.name%></h1>
    </div>
    <div class="pure-u-1-2 past-event-info">
      <h2><%=event.date%> | <%=event.time%></h2>
    </div>
  </div>
  <% } %>
</body>
