<!DOCTYPE html>
<html>
    <head>
        <%-partial('partials/head.ejs')%>
    </head>
    <body>

        <!-- Header -->
        <%-partial('partials/header.ejs')%>

        <!-- Nav Bar -->
        <%-partial('partials/header.ejs')%>

        <div class="container">
            <%-body%>
        </div>

        <!-- Footer -->
        <%-partial('partials/footer.ejs')%>

    </body>
</html>
